{% extends 'modelo.html' %}
{% load static %}

{% block titulo %}
<title>Modalidades</title>
{% endblock %}

{% block main %}
<link rel="stylesheet" type="text/css" href="{% static 'css/estilo_modalidades.css' %}">
<main>
    <ul>
        <li>
            <img src="{% static 'img/modalidades.jpg' %}">
            <div>
                <h1>Iniciante</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporary incididunt ut labore et dolore magna aliqua. Enim adim ad minimim veniam, quis nostrud exercise ullamco laboris nisi ut alipip ex ea commodo consequat.
                    Duis auteur irure pain in reprehenderit in voluptate velit this cillum dolore eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporary incididunt ut labore et dolore magna aliqua. Enim adim ad minimim veniam,
                    quis nostrud exercise ullamco laboris nisi ut alipip ex ea commodo consequat. Duis auteur irure pain in reprehenderit in voluptate velit this cillum dolore eu fugiat nulla pariatur.mod temporary incididunt ut labore et dolore magna aliqua. Enim adim ad minimim veniam, quis nostrud exercise ullamco laboris nisi ut alipip ex ea commodo consequat.
                    Duis auteur irure pain in reprehenderit in voluptate velit this cillum dolore eu fugiat nulla pariatur mod temporary incididunt ut labore et dolore magna aliqua. Enim adim ad minimim veniam, quis nostrud exercise ullamco laboris nisi ut alipip ex ea commodo consequat. Duis auteur irure pain in reprehenderit in voluptate velit this cillum 
                    eu fugiat nulla pariatur</p>
            </div>
        </li>

        <li class="meio">
            <div>
                <h1>Intermediário</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporary incididunt ut labore et dolore magna aliqua. Enim adim ad minimim veniam, quis nostrud exercise ullamco laboris nisi ut alipip ex ea commodo consequat.
                    Duis auteur irure pain in reprehenderit in voluptate velit this cillum dolore eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporary incididunt ut labore et dolore magna aliqua. Enim adim ad minimim veniam,
                    quis nostrud exercise ullamco laboris nisi ut alipip ex ea commodo consequat. Duis auteur irure pain in reprehenderit in voluptate velit this cillum dolore eu fugiat nulla pariatur.mod temporary incididunt ut labore et dolore magna aliqua. Enim adim ad minimim veniam, quis nostrud exercise ullamco laboris nisi ut alipip ex ea commodo consequat.
                    Duis auteur irure pain in reprehenderit in voluptate velit this cillum dolore eu fugiat nulla pariatur mod temporary incididunt ut labore et dolore magna aliqua. Enim adim ad minimim veniam, quis nostrud exercise ullamco laboris nisi ut alipip ex ea commodo consequat. Duis auteur irure pain in reprehenderit in voluptate velit this cillum 
                    eu fugiat nulla pariatur</p>
            </div>
            <img src="{% static 'img/modalidades.jpg' %}">
        </li>

        <li>
            <img src="{% static 'img/modalidades.jpg' %}">
            <div>
                <h1>Avançado</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporary incididunt ut labore et dolore magna aliqua. Enim adim ad minimim veniam, quis nostrud exercise ullamco laboris nisi ut alipip ex ea commodo consequat.
                    Duis auteur irure pain in reprehenderit in voluptate velit this cillum dolore eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporary incididunt ut labore et dolore magna aliqua. Enim adim ad minimim veniam,
                    quis nostrud exercise ullamco laboris nisi ut alipip ex ea commodo consequat. Duis auteur irure pain in reprehenderit in voluptate velit this cillum dolore eu fugiat nulla pariatur.mod temporary incididunt ut labore et dolore magna aliqua. Enim adim ad minimim veniam, quis nostrud exercise ullamco laboris nisi ut alipip ex ea commodo consequat.
                    Duis auteur irure pain in reprehenderit in voluptate velit this cillum dolore eu fugiat nulla pariatur mod temporary incididunt ut labore et dolore magna aliqua. Enim adim ad minimim veniam, quis nostrud exercise ullamco laboris nisi ut alipip ex ea commodo consequat. Duis auteur irure pain in reprehenderit in voluptate velit this cillum 
                    eu fugiat nulla pariatur</p>
            </div>
        </li>
    </ul>
</main>
{% endblock %}