{% extends 'modelo.html' %}
{% load static %}

{% block titulo %}
<title>Início</title>
{% endblock %}

{% block main %}
<link rel="stylesheet" type="text/css" href="{% static 'css/estilo_pag_principal.css' %}">
<main>
    <article class="apresentar">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporary incididunt ut labore et dolore magna aliqua. Enim adim ad minimim veniam, quis nostrud exercise ullamco laboris nisi ut alipip ex ea commodo consequat. Duis auteur irure pain in reprehenderit in voluptate velit this cillum dolore eu fugiat nulla pariatur. Excepteur sint occecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <hr>

        <dl class="planos_principais">
            <dt>
                <h1>Básico</h1>
                <ul>
                    <li>-Lorem ipsum dolor</li>
                    <li>-laboris nisi</li>
                    <li>-Duis auteur </li>
                    <li>-nulla pariatur</li>
                    <li>-deserunt mollit</li>
                    <li>-Lorem ipsum dolor</li>
                    <li>-laboris nisi</li>
                    <li>-Duis auteur </li>	
                </ul>
                <h1 id="valor">$22,00<p id="textinho">/mês</p></h1>	
            </dt>
            <dt>
                <h1>Intermediário</h1>
                <ul>
                    <li>-Lorem ipsum dolor</li>
                    <li>-laboris nisi</li>
                    <li>-Duis auteur </li>
                    <li>-nulla pariatur</li>
                    <li>-deserunt mollit</li>
                    <li>-Lorem ipsum dolor</li>
                    <li>-laboris nisi</li>
                    <li>-Duis auteur </li>	
                </ul>
                <h1 id="valor">$30,00<p id="textinho">/mês</p></h1>	
            </dt>
            <dt>
                <h1>Premium</h1>
                <ul>
                    <li>-Lorem ipsum dolor</li>
                    <li>-laboris nisi</li>
                    <li>-Duis auteur </li>
                    <li>-nulla pariatur</li>
                    <li>-deserunt mollit</li>
                    <li>-Lorem ipsum dolor</li>
                    <li>-laboris nisi</li>
                    <li>-Duis auteur </li>	
                </ul>
                <h1 id="valor">$40,00<p id="textinho">/mês</p></h1>	
            </dt>
            <dt>
                <h1>Vip</h1>
                <ul>
                    <li>-Lorem ipsum dolor</li>
                    <li>-laboris nisi</li>
                    <li>-Duis auteur </li>
                    <li>-nulla pariatur</li>
                    <li>-deserunt mollit</li>
                    <li>-Lorem ipsum dolor</li>
                    <li>-laboris nisi</li>
                    <li>-Duis auteur </li>	
                </ul>
                <h1 id="valor">$50,00<p id="textinho">/mês</p></h1>	
            </dt>
        </dl>
    </article>

    <article class="modalidades">
         <img src="{% static 'img/modalidades.jpg' %}">
        <div class="texto_modalidades">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporary incididunt ut labore et dolore magna aliqua. Enim adim ad minimim veniam, quis nostrud exercise ullamco laboris nisi ut alipip ex ea commodo consequat. Duis auteur irure pain in reprehenderit in voluptate velit this cillum dolore eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipiscing 
                elit, sed do eiusmod temporary incididunt ut labore et dolore magna aliqua. Enim adim ad minimim veniam, quis nostrud exercise ullamco laboris nisi ut alipip ex ea commodo consequat. Duis auteur irure pain in reprehenderit in voluptate velit this cillum dolore eu fugiat nulla pariatur.</p>
            <button><a href="">Ver Mais</a></button>
        </div>	
    </article>

    <article class="sobre_nos">
        <img src="{% static 'img/modalidades.jpg' %}">
        <div class="texto_sobre_nos">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporary incididunt ut labore et dolore magna aliqua. Enim adim ad minimim veniam, quis nostrud exercise ullamco laboris nisi ut alipip ex ea commodo consequat.
                Duis auteur irure pain in reprehenderit in voluptate velit this cillum dolore eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporary incididunt ut labore et dolore magna aliqua. Enim adim ad minimim veniam,
                quis nostrud exercise ullamco laboris nisi ut alipip ex ea commodo consequat. Duis auteur irure pain in reprehenderit in voluptate velit this cillum dolore eu fugiat nulla pariatur.mod temporary incididunt ut labore et dolore magna aliqua. Enim adim ad minimim veniam, quis nostrud exercise ullamco laboris nisi ut alipip ex ea commodo consequat.
                Duis auteur irure pain in reprehenderit in voluptate velit this cillum dolore eu fugiat nulla pariatur mod temporary incididunt ut labore et dolore magna aliqua. Enim adim ad minimim veniam, quis nostrud exercise ullamco laboris nisi ut alipip ex ea commodo consequat. Duis auteur irure pain in reprehenderit in voluptate velit this cillum 
                eu fugiat nulla pariatur</p>
            <button><a href="{% url 'exibir-professor' %}">Ver Mais</a></button>
        </div>	
    </article>
</main>
{% endblock %}

