main {margin-bottom: 80px;}

/* APRESENTAÇÃO */
.apresentar{display: flex;flex-direction: column; align-items: center; background-color: #FCFCFC; margin-bottom: 100px;}
.apresentar p {padding-top: 10px; padding-left: 50px;}
.apresentar hr{width: 300px; height: 2px; background-color: #0FC9E7; margin-bottom: 30px; border:none; opacity: 1;}
.apresentar .planos_principais {width: 100%; display: flex; flex-direction: row; justify-content: space-around;}
.apresentar .planos_principais dt {width: 200px; height: 300px; border-radius: 30px; background-color: #FCFCFC; box-shadow: 5px 5px 10px #757575; display: flex; flex-direction: column; align-items: center;}
.apresentar .planos_principais dt h1 {font-size: 20px; padding-top: 5px;}
.apresentar .planos_principais dt ul {padding-left: 10px;}
.apresentar .planos_principais dt ul li {font-weight: 500; font-size: 15px;}
#valor {display: flex; flex-direction: row;}
#textinho {padding-left: 0px; padding-top: 10px; font-size: 10px;}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
	.apresentar .planos_principais {flex-flow: row wrap;}
	.apresentar .planos_principais dt {margin: 10px;}
	.apresentar p {font-size: 15px;}
}

/* MODALIDADES */
.modalidades {display: flex; flex-direction: row;}
.modalidades img {width: 300px; height: 300px; border-radius: 50%; margin-right: 20px; margin-left: 60px;}
.modalidades .texto_modalidades {display: flex; flex-direction: column; align-items: center;}
.modalidades .texto_modalidades button {background-color: #0FC9E7; border-radius: 4px; color: #FCFCFC; border:none; width: 100px; height: 50px; margin-top: 20px; }
.modalidades .texto_modalidades button:hover {opacity: 0.9;}
.modalidades .texto_modalidades button a {font-size: 15px;}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
	.modalidades {flex-direction: column-reverse; justify-content: center;}
    .modalidades button {margin-bottom: 20px;}
    .modalidades img {margin-left: 40px;}
	.modalidades .texto_modalidades p {padding-left: 50px;}
}

@media (max-width: 600px) {
    .modalidades {align-items: center;}
    .modalidades .foto_cor img {width: 150px; height: 150px;}
}







