/* RESET */
* {margin: 0; font-size: 100%; padding: 0; box-sizing: border-box;font-family: 'NotoS';}
a {text-decoration: none; opacity: 1; color: #FCFCFC; font-size: 20px;}
a:hover {color: #FCFCFC; opacity: 0.9;}
ul,nav {list-style: none;}
li {text-decoration: none;}

/* FONTS */
@font-face {
    src: url("../fonts/NotoSerif-Regular.ttf");
    font-family: 'NotoS';    
    font-weight: normal;}

/* HEADER */

header{width: 100%; position: absolute; left: 0; top: 0; display: flex; justify-content: flex-end; padding: 20px 50px; align-items: center;}
header nav{display: flex;}
header li{margin: 0 15px;}
header li:first-child{margin-left: 0;}
header li:last-child{margin-right: 0;}

/* RESPONSIVIDADE */
@media(max-width: 768px) {
	header{flex-direction: column;}
}

/* TEXTO PRINCIPAL */
.texto_principal {background-image: url(../img/foto_principal.jpg); background-size: cover; background-repeat: no-repeat;; min-height: 60vh; color: #FCFCFC; min-height: 100vh; display: flex; justify-content: center; align-items: center; flex-direction: column; animation-timing-function: ease-out;}
.texto_principal h1{font-size: 3.2rem; margin-bottom: 50px;}
.texto_principal .btn{background-color: #FCFCFC; border-radius: 4px; padding: 20px 50px; color: #0FC9E7;}
.dropdown {font-family: 'NotoS'}
#dropdownMenuButton1 {background-color: #FCFCFC; color: #0FC9E7;}
.dropdown-item, .dropdown-item:hover {color: #0FC9E7;}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
	.texto_principal h1{font-size: 2.5rem; background-color: #0FC9E7; opacity: 0.7; margin-bottom: 50px;  }
	.texto_principal h3{font-size: 1.5rem;}
}

@media (max-width: 600px) {
    nav {flex-flow: row wrap; padding-left: 30px;}
    header li:first-child, header li:last-child {margin: 0 15px;}
    nav li a {font-size: 17px;}
}    

/* APRESENTAÇÃO */
.modalidades {display: flex; flex-direction: row;}
.modalidades .foto_cor {width: 2100px; position: relative; padding-left: 100px; margin-right: 100px;}
.modalidades .foto_cor .cor {width: 250px; height: 250px; background-color: #0FC9E7; border-radius: 50%; position: absolute;}
.modalidades .foto_cor img {width: 250px; height: 250px; border-radius: 50%; position: absolute; top: 50px; left: 150px;}
.modalidades .texto_modalidades {display: flex; flex-direction: column; align-items: center;}
.modalidades .texto_modalidades button {background-color: #0FC9E7; border-radius: 4px; color: #FCFCFC; border:none; width: 100px; height: 50px; }
.modalidades .texto_modalidades button:hover {opacity: 0.9;}
.modalidades .texto_modalidades button a {font-size: 15px;}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
	.modalidades {flex-direction: column-reverse; justify-content: center;}
	.modalidades .foto_cor {width: 100px;padding-left: 50%; margin-right: 0px; margin-left: 0px;padding-top: 20px;}
	.modalidades .texto_modalidades p {padding-left: 50px;}
}

@media (max-width: 600px) {
    .modalidades {align-items: center;}
    .modalidades .foto_cor .cor {width: 150px; height: 150px;}
    .modalidades .foto_cor img {width: 150px; height: 150px;}
    .modalidades .foto_cor {padding-right: 50%;}
    
    
}

/* RODAPÉ */
footer {background-color: #3186B2; display: flex;flex-direction: column; padding: -5px;align-items: center;}
footer ul {display:flex; margin-bottom: 15px; padding-top:10px;}
footer ul li {margin-right: 10px;}
footer ul li:last-child{margin-bottom: 0;}
footer p {color: #FCFCFC; text-align: center; padding-left: 20px;}



