{% extends 'modelo.html' %}

{% load static %}

{% block titulo %}
<title>Avaliações</title>
{% endblock %}

{% block main %}
<link rel="stylesheet" type="text/css" href="{% static 'css/estilo_listas.css' %}">

<main>
    <h3>Lista de avaliações já registradas</h3>
    {% if request.user.is_authenticated %}
    <a href="{% url 'cadastrar-avaliacao' %}" class="btn btn-sm" id="btn_cadastrar">Cadastrar avaliação</a>
    <a href="{% url 'exibir-minha_avaliacao' %}" class="btn btn-sm" id="btn_cadastrar">Minhas avaliações</a>
    {% endif %}
    <hr>

    <div class="table-responsive">
        <table class="table table-striped" id="tabela-listar">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Autor</th>
                    <th>Plano</th>
                    <th>Comentário</th>
                    {% if user.groups.all.0.name == "administrador" %}
                    <th>Opções</th>
                    {% endif %}
                </tr>
            </thead>
            
            <tbody>
                {% for avaliacao in object_list %}
            <tr>
                <td>{{ avaliacao.pk }}</td>
                <td>{{ avaliacao.autor }}</td>
                <td>{{ avaliacao.plano }}</td>
                <td>{{ avaliacao.comentario }}</td>
                {% if user.groups.all.0.name == "administrador" %}
                <td>
                    <a href="{% url 'editar-avaliacao' avaliacao.pk %}" class="btn btn-warning btn-sm" title="Editar" id="btn-opcoes">E</a>
                    <a href="{% url 'excluir-avaliacao' avaliacao.pk %}" class="btn btn-danger btn-sm" title="Excluir" id="btn-opcoes">X</a>
                </td>
                {% endif %}
            </tr>

            {% empty %}
            <tr>
                <td colspan="5">Nenhum campo registrado!</td>
            </tr>
            {% endfor %}
            </tbody>
            

        </table>
    </div>
</main>
{% endblock %}

{% block scripts %}
<script>
    //$("seletor").acao(); //seletor terá a ação disparada

    //executar algo de acordo com sua ação
    //$("seletor").evento(function(){
        //ações ficam aqui da função, pois caso queria executar vários coisas por causa do evento
    //});

    $().ready(function(){
        $('#tabela-listar').DataTable({
        responsive: true,
        // "bSort": false,
        "aaSorting": [],
        "pageLength": 50,
        "language": {
            "decimal": "",
            "emptyTable": "Sem dados disponíveis",
            "info": "Mostrando de _START_ até _END_ de _TOTAL_ registos",
            "infoEmpty": "Mostrando de 0 até 0 de 0 registos",
            "infoFiltered": "(filtrado de _MAX_ registos no total)",
            "infoPostFix": "",
            "thousands": ",",
            "lengthMenu": "Mostrar _MENU_ registos",
            "loadingRecords": "A carregar dados...",
            "processing": "A processar...",
            "search": "Procurar:",
            "zeroRecords": "Não foram encontrados resultados",
            "paginate": {
                "first": "Primeiro",
                "last": "Último",
                "next": "Seguinte",
                "previous": "Anterior"
            },
            "aria": {
                "sortAscending": ": ordem crescente",
                "sortDescending": ": ordem decrescente"
            }
        }
    });
            
    });
</script>
{% endblock %}

