{% extends 'modelo.html' %}

{% load static %}

{% block titulo %}
<title>Professor</title>
{% endblock %}

{% block main %}
<link rel="stylesheet" type="text/css" href="{% static 'css/estilo_listas.css' %}">

<main>
    <h3>Lista de professores já registrados</h3>
    <a href="{% url 'cadastrar-professor' %}" class="btn btn-sm" id="btn_cadastrar">Cadastrar professor</a>
    <hr>

    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Metodologia</th>
                <th>Email</th>
                <th>Aulas Particulares</th>
                <th>Opções</th>
            </tr>

            {% for professor in object_list %}
            <tr>
                <td>{{ professor.pk }}</td>
                <td>{{ professor.nome }}</td>
                <td>{{ professor.metodologia }}</td>
                <td>{{ professor.email }}</td>
                <td>{{ professor.aula }}</td>

                <td>
                    <a href="{% url 'editar-professor' professor.pk %}" class="btn btn-warning btn-sm" title="Editar" id="btn-opcoes">E</a>
                    <a href="{% url 'excluir-professor' professor.pk %}" class="btn btn-danger btn-sm" title="Excluir" id="btn-opcoes">X</a>
                </td>
            </tr>

            {% empty %}
            <tr>
                <td colspan="5">Nenhum campo registrado!</td>
            </tr>
            {% endfor %}

        </table>
    </div>
</main>

{% endblock %}